.search {
    position: fixed;
    height: 42px;
    width: inherit;
    border-radius: 21px;
    background-color: rgb(239, 243, 244);
    margin-top: 6px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.search svg {
    margin-left: 20px;
    fill: #536471;
}

.search input {
    outline: none;
    background-color: transparent;
    border: none;
    margin-left: 5px;
    padding: 12px;
    font-size: 15px;
    width: 100%;
}
