.contain {
    display: flex;
    flex-direction: row;
}

.left {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.right {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
