.postForm {
    margin-top: 100px;
    display: flex;
    width: 100%;
    margin-left: 4px;
}

.postUserSection {
    width: 40px;
    height: 40px;
}
.postUserImage {
    width: 40px;
    height: 40px;
}

.postUserImage > img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
}
.postInputSection {
    width: 100%;
    flex: 1;
    margin-left: 20px;
}

.postInputSection > textarea {
    resize: none;
    border: none;
    width: 500px;
    padding: 10px;
    margin: 10px;
    outline: none;
    font-size: 20px;
}

.postInputSection > textarea::placeholder {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.postButtonSection {
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
}

.uploadButton {
    border: none;
    transition-duration: 0.2s;
    /* transition-property: background-color; */
    background-color: rgba(29, 155, 240, 0.01);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;

    cursor: pointer;
}

.uploadButton:hover {
    background-color: rgba(29, 155, 240, 0.1);
}

.uploadButton svg {
    fill: #1d9bf0;
}

.actionButton:disabled {
    opacity: 0.5;
}

.actionButton {
    border: none;
    background-color: #1d9bf0;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    width: 94px;
    border-radius: 18px;
}

.actionButton:hover {
    background-color: rgb(26, 140, 216);
}
